*/__pycache__/
source/python/idetect/__pycache__
source/.ipython
source/.jupyter
source/.local
source/notebooks/.ipynb_checkpoints
source/data/input_urls.csv
source/.bash_history
source/.cache/
source/.python_history

*.swp
*.swo

# pickled NLP models
*.pkl

__pycache__
logs/workers/*.log
logs

**/.DS_Store
pgdata
source/supervisord.log
source/supervisord.pid
.vscode/settings.json
.env
