*/__pycache__/
source/python/idetect/__pycache__
source/.ipython
source/.jupyter
source/.local
source/notebooks/.ipynb_checkpoints

*.swp
*.swo

# pickled NLP models
*.pkl

__pycache__
logs/workers/*.log
logs
