{% extends "base.html" %}

{% block content %}

<div class=page>
<div class="container">
    <div class="row">
      <div class="col">
        <h3>Welcome to the idetect API</h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <form action="add_url" method="POST" name="add_url">
          <strong><h5>Scrape URL:</h5></strong> <input name="url" size="60" id="add_url_field">
          <input type="submit" role="button" class="btn btn-primary" name="add_url" value="Submit">
        </form>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">

        <h4> Arcticle Counts </h4>

        <table class="table table-bordered summary">
          <thead class="thead-inverse">
            <tr>
              <th>Status</th>
              <th>Count</th>
            </tr>
          </thead>
          {% for status in counts.keys() %}
          <tr>
            <td>{{ status.title() }}</td>
            <td>{{ counts[status] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div class="col">

        <h4> Arcticle Categories </h4>

        <table class="table table-bordered summary">
          <thead class="thead-inverse">
            <tr>
              <th>Category</th>
              <th>Count</th>
            </tr>
          </thead>
          {% for status in counts.keys() %}
          <tr>
            <td>{{ status }}</td>
            <td>{{ counts[status] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <form action="search_url" method="GET" name="search_url">
          <strong><h5>Search for URL:</h5></strong> <input name="url" size="60">
          <input type="submit" role="button" class="btn btn-primary" name="search_url" value="Submit">
        </form>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">

        <h4> Recently Updated Articles </h4>

        <table class="table table-striped">
          <thead class="thead-inverse">
            <tr>
              <th>URL</th>
              <th>Status</th>
              <th>Last Updated</th>
              <th>Content</th>
              <th></th>
            </tr>
          </thead>
          {% for article in articles %}
          <tr>
            <td>{{ article.document.url[:40] if article.document.url else "" }}</td>
            <td>{{ article.status.title() }}</td>
            <td>{{ format_date(article.updated) }}</td>
            <td>{{ article.content.content[:100] if article.content else "None" }}</td>
            <td><a href="{{ url_for('.article', doc_id=article.document_id) }}">More</a></td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block footer %}
<script src="http://code.jquery.com/jquery.js"></script>
<script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/index.js') }}"></script>
{% endblock %}