<!doctype html>
<title>idetect</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>idetect</h1>
  Welcome to the idetect API

  <form action="add_url" method="POST">
    Scrape URL: <input name="url"> <input type="submit">
  </form>

  <h2> Arcticle Counts </h2>

  <table>
    <tr>
      <th>Status</th>
      <th>Count</th>
    </tr>
    {% for status in counts.keys() %}
    <tr>
      <td>{{ status }}</td>
      <td>{{ counts[status] }}</td>
    </tr>
    {% endfor %}
  </table>

  <h2> Recently Updated Articles </h2>

  <table>
    <tr>
      <th>URL ID</th>
      <th>URL</th>
      <th>Status</th>
      <th>Last Updated</th>
      <th>Content</th>
    </tr>
    {% for article in articles %}
    <tr>
      <td>{{ article.url_id }}</td>
      <td>{{ article.url }}</td>
      <td>{{ article.status }}</td>
      <td>{{ article.updated }}</td>
      <td>{{ article.content.content[:100] if article.content else "None" }}</td>
    </tr>
    {% endfor %}
  </table>

</div>
