appnope==0.1.0
beautifulsoup4==4.6.0
bleach==2.0.0
bokeh==0.12.9
boto==2.48.0
bz2file==0.98
cachetools==2.0.1
certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
cld2-cffi==0.1.4
click==6.7
cssselect==1.0.1
cycler==0.10.0
cymem==1.31.2
cytoolz==0.8.2
decorator==4.1.2
dill==0.2.7.1
entrypoints==0.2.3
feedfinder2==0.0.4
feedparser==5.2.1
Flask==0.12.2
ftfy==4.4.3
future==0.16.0
gensim==2.3.0
html5lib==0.999999999
idna==2.6
ijson==2.3
ipykernel==4.6.1
ipython==6.2.0
ipython-genutils==0.2.0
ipywidgets==7.0.0
itsdangerous==0.24
jedi==0.10.2
jieba3k==0.35.1
Jinja2==2.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
jupyterlab==0.27.0
jupyterlab-launcher==0.4.2
langdetect==1.0.7
lxml==3.8.0
MarkupSafe==1.0
matplotlib==2.0.2
mistune==0.7.4
mlxtend==0.8.0
murmurhash==0.26.4
nbconvert==5.3.1
nbformat==4.4.0
networkx==1.11
newspaper3k==0.2.2
nltk==3.2.4
notebook==5.1.0
numpy==1.13.1
olefile==0.44
pandas==0.20.3
pandocfilters==1.4.2
parsedatetime==2.4
pathlib==1.0.1
pdfminer.six==20170720
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.2.1
plac==0.9.6
preshed==1.0.0
prompt-toolkit==1.0.15
psycopg2==2.7.3.1
ptyprocess==0.5.2
pycountry==17.5.14
pycparser==2.18
pycryptodome==3.4.7
pyemd==0.4.4
Pygments==2.2.0
pyparsing==2.2.0
Pyphen==0.9.4
python-dateutil==2.6.1
python-Levenshtein==0.12.0
pytz==2017.2
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.3.1
regex==2017.7.28
requests==2.18.4
requests-file==1.4.2
schedule==0.4.3
scikit-learn==0.19.0
scipy==0.19.1
seaborn==0.8.1
simplegeneric==0.8.1
six==1.11.0
smart-open==1.5.3
spacy==1.9.0
SQLAlchemy==1.1.14
tabulate==0.8.2
termcolor==1.1.0
terminado==0.6
testpath==0.3.1
textacy==0.4.1
thinc==6.5.2
tldextract==2.1.0
toolz==0.8.2
tornado==4.5.2
tqdm==4.15.0
traitlets==4.3.2
ujson==1.35
Unidecode==0.4.21
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.12.2
widgetsnbextension==3.0.2
wrapt==1.10.11